<div id="<%= dom_id article %>">
  <p>
    <strong>Header:</strong>
    <%= article.header %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= article.author %>
  </p>

</div>
